.header2 {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
  margin-top: 20px;
  text-transform: uppercase;
}

.list-container2 {
  width: 210px;
  padding: 30px;
}

.custom-list2 {
  list-style: none;
  padding: 0;
}

.custom-list2 li {
  margin-bottom: 30px;
  color: #62A8BB;
  display: block;
}

.image-product-page {
  width:410px;
  margin: 20px;
  padding:30px;
}
