<div style="background-repeat: no-repeat; background-size: cover; background-position:
 center center; height: 990px; background-image:
 url('https://res.cloudinary.com/ddicha2gs/image/upload/v1692927635/WechatIMG8_r2euuv.jpg')">
  <div class="container">
  <h2 class="header2" style="margin-top: 1px; padding-top: 40px;">Edit your Product </h2>
  <div class="d-flex justify-content-center">
     <%= render 'form', item: @item %>
  </div>

  </div>

</div>
