
<div class="container1">
<h1>Borrow Bags and Belts</h1>
<p>The world’s largest bags&belts marketplace</p>

<%= cl_image_tag("Screenshot_2023-08-22_at_12.27.41_fpp3uj",
      width: 700, height: 600, crop: :auto) %>
</div>

<div class="search-container">
  <input type="text" class="search-field" placeholder="    Search">
  <button class="search-button"><i class="fas fa-search"></i></button>
</div>


<%# <div>
  <form class="d-flex" role="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div> %>

<div class="horizontal-list-container">
  <ul class="horizontal-list">
    <li>
      Bags
    </li>
    <li>
      Belts
    </li>
  </ul>
</div>

<div class="horizontal-list-container">
  <ul class="horizontal-list">
    <li>
      Brand
    </li>
    <li>
      Color
    </li>
    <li>
      Size
    </li>
    <li>
      Price
    </li>
  </ul>
</div>


</div>
